*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body{
    background:#f4f4f4;
    padding:30px;
}

.cv-container{
    max-width:900px;
    margin:auto;
    background:rgb(11, 7, 7);
    padding:40px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}
header{
    display:flex;
    align-items:center;
    border-bottom:3px solid #0077cc;
    padding-bottom:20px;
    margin-bottom:25px;
}

cv-container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}
header{
    display:flex;
    align-items:center;
    border-bottom:3px solid #0077cc;
    padding-bottom:20px;
    margin-bottom:25px;
}
